.App {
  text-align: center;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}*/

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Borrowed CSS from React Tutorial for placeholder purpose only 
   Must be replaced in final version */
.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
  }
  
.square:focus {
    outline: none;
  }
/* End borrowed CSS */

.game {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg {
 align-items: center;
  background-color: #CCCCBB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  min-height: 85vh;
}

.status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
